<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>966232885038218</sid>
    <event-sheet>menu event sheet</event-sheet>
    <size>
        <width>960</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>1</unbounded-scrolling>
    <layers>
        <layer name="BG" sid="532710949749671">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="BGMENU" uid="107">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>None</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>Window bottom</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>-288</y>
                        <z>0</z>
                        <width>960</width>
                        <height>1024</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="opcoes" sid="531152939214204">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Button" uid="1">
                    <properties>
                        <type>Button</type>
                        <text>Start!</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Plus">
                            <properties>
                                <class-optional></class-optional>
                                <auto-font-size>None</auto-font-size>
                                <font>Segoe UI</font>
                                <font-style>Normal</font-style>
                                <color>0</color>
                                <alignment-horizontal>Center</alignment-horizontal>
                                <alignment-vertical>Center</alignment-vertical>
                                <background-type>Solid</background-type>
                                <border>No</border>
                                <context-menu>No</context-menu>
                                <selectable>Yes</selectable>
                                <text-decoration>None</text-decoration>
                                <text-restrict>None</text-restrict>
                                <text-transform>None</text-transform>
                                <max-length>0</max-length>
                                <webfont-url></webfont-url>
                                <webfont-name></webfont-name>
                                <background>rgb(231, 90, 16)</background>
                                <borders></borders>
                                <border-radius>25px</border-radius>
                                <outline></outline>
                                <padding></padding>
                                <shadow-text></shadow-text>
                                <shadow-box></shadow-box>
                                <text-restrict-allow></text-restrict-allow>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>400</x>
                        <y>336</y>
                        <z>0</z>
                        <width>144</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="LogoSMB" uid="2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>None</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>480</x>
                        <y>160</y>
                        <z>0</z>
                        <width>373.866271973</width>
                        <height>186.933135986</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="CFG" uid="255">
                    <properties>
                        <type>Button</type>
                        <text>configs</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window left</left-edge>
                                <top-edge>Window bottom</top-edge>
                                <right-edge>None</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>384</y>
                        <z>0</z>
                        <width>64</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
